@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");

* {
  margin: 0;
  font-size: initial;
  font-weight: initial;
  font-family: "Roboto", sans-serif;
}
